# SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE
# SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE
# SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE

# This environment file is used for running wily tests and
# the variables in this file need to be assigned in order 
# all for tests to run properly

# Server options
SERVER_HOST=localhost
SERVER_PORT=3000
DEBUG=true

# Authentication options
JWT_SECRET=yolo

# Database credentials
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=wily
DATABASE_USER=wily
DATABASE_PASS=wily

# SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE
# SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE
# SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE